<div class="container mt-5">
    <div class="form-image">
        <img src="https://github.com/Andres06B/imagenes/blob/main/images5-removebg-preview.png?raw=true" alt="Mascota">
    </div>
    <div>
        <h2 class="mb-4">Datos de Peluqueria</h2>
        <form action="#" method="POST">
            <div class="mb-3">
                <label for="fecha_entrada" class="form-label"><i class="icon fas fa-pen-to-square"></i>Fecha de Entrada:</label>
                <input type="date" class="form-control" id="fecha_entrada" name="fecha_entrada" required>
            </div>
            <div class="mb-3">
                <label for="hora" class="form-label"><i class="icon fas fa-pen-to-square"></i>Hora:</label>
                <input type="time" class="form-control" id="hora" name="hora" required>
            </div>
            <div class="mb-3">
                <label for="nombre_animal" class="form-label"><i class="icon fas fa-pen-to-square"></i>Nombre del Animal:</label>
                <input type="text" class="form-control" id="nombre_animal" name="nombre_animal" required>
            </div>
            <div class="mb-3">
                <label for="nombre_dueño" class="form-label"><i class="icon fas fa-pen-to-square"></i>Nombre del Dueño:</label>
                <input type="text" class="form-control" id="nombre_dueño" name="nombre_dueño" required>
            </div>
            <div class="mb-3">
                <label for="especie" class="form-label"><i class="icon fas fa-pen-to-square"></i>Especie:</label>
                <input type="text" class="form-control" id="especie" name="especie">
            </div>
            <div class="mb-3">
                <label for="raza" class="form-label"><i class="icon fas fa-pen-to-square"></i>Raza:</label>
                <input type="text" class="form-control" id="raza" name="raza">
            </div>
            <div class="mb-3">
                <label for="color" class="form-label"><i class="icon fas fa-pen-to-square"></i>Color:</label>
                <input type="text" class="form-control" id="color" name="color">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label"><i class="icon fas fa-pen-to-square"></i>Teléfono:</label>
                <input type="tel" class="form-control" id="telefono" name="telefono" pattern="[0-9]{10}">
            </div>
            <div class="mb-3">
                <label for="peluquero" class="form-label"><i class="icon fas fa-pen-to-square"></i>Peluquero Responsable:</label>
                <input type="text" class="form-control" id="peluquero" name="peluquero">
            </div>
            <div class="mb-3">
                <label for="observaciones" class="form-label"><i class="icon fas fa-pen-to-square"></i>Observaciones:</label>
                <input type="text" class="form-control" id="observaciones" name="observaciones">
            </div>
            <div class="mb-3">
                <label for="tipo_baño" class="form-label"><i class="icon fas fa-pen-to-square"></i>Tipo de Baño:</label>
                <input type="text" class="form-control" id="tipo_baño" name="tipo_baño">
            </div>
            <div class="mb-3">
                <label for="valor" class="form-label"><i class="icon fas fa-pen-to-square"></i>Valor:</label>
                <input type="number" class="form-control" id="valor" name="valor">
            </div>
            <div class="mb-3">
                <label for="hora_salida" class="form-label"><i class="icon fas fa-pen-to-square"></i>Hora de Salida:</label>
                <input type="time" class="form-control" id="hora_salida" name="hora_salida">
            </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
    </div>
</div>

