<section>
    <!----Campo de Logo---->
    <div class="wrapper">
      <div  *ngIf="!loading" class="body">
        <img  class="logo" src="https://github.com/Andres06B/imagenes/blob/main/images5-removebg-preview.png?raw=true" alt="img login">
        <h1>Registrar Usuario</h1>

        
        <!----Campo de Registro de Usuario---->
        <div class="form-floating mb-3 mt-3">
          <input type="text"   [(ngModel)]="username" class="form-control" placeholder="Ingrese Usuario">
          <label>Usuario</label>
        </div>

        <!----Campo de Registro de Contraseña---->
        <div class="form-floating mb-3">
          <input type="password"   [(ngModel)]="password"  class="form-control" placeholder="Ingrese Password">
          <label>Password</label>

        </div>
        
        <!----Campo de Registro de Confirmar Contraseña---->
        <div class="form-floating mb-3">
            <input type="password"    [(ngModel)]="confirmPassword"   class="form-control" placeholder="Repeat password">
            <label>Repeat password</label>
          </div>
        <div class="d-grid gap-2 mb-3">
          <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
        <a href="/login">Volver</a>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
    </div>
  </section>
