<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://github.com/Andres06B/imagenes/blob/main/Captura_de_pantalla_2024-05-12_161340-removebg-preview%20(1).png?raw=true" alt="Adry Veterinaria Logo" class="mr-2">
            <span class="text-coral">Adry</span>Veterinaria
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="btn btn-outline-success" type="button" aria-label="Log out" routerLink="/opcionMenu">
                    <i class="fa-solid fa-right-from-bracket ms-1" aria-hidden="true"></i>
                    Volver
                </button>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <div class="search-add-container">
        <div class="search-container">
            <form class="d-flex" (submit)="filterList()">
                <input class="form-control me-2" type="search" placeholder="Buscar por Propietario" [(ngModel)]="searchText" name="searchText" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
        <div class="add-appointment-container">
            <button class="btn btn-primary" type="button" routerLink="/AgregarPeluqueria">Agregar Cita</button>
        </div>
    </div>
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Fecha de Entrada</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Nombre del Animal</th>
                    <th scope="col">Nombre del Dueño</th>
                    <th scope="col">Especie</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Color</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Peluquero Responsable</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Tipo de Baño</th>
                    <th scope="col">Valor </th>
                    <th scope="col">Hora de Salida</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredList" class="table-active">
                    <td>{{item.ID}}</td>
                    <td>{{item.FechaEntrada}}</td>
                    <td>{{item.Hora}}</td>
                    <td>{{item.NombreAnimal}}</td>
                    <td>{{item.NombreDueno}}</td>
                    <td>{{item.Especie}}</td>
                    <td>{{item.Raza}}</td>
                    <td>{{item.Color}}</td>
                    <td>{{item.Telefono}}</td>
                    <td>{{item.PeluqueroResponsable}}</td>
                    <td>{{item.Observaciones}}</td>
                    <td>{{item.TipoBano}}</td>
                    <td>{{item.Valor}}</td>
                    <td>{{item.HoraSalida}}</td>
                    <td class="iconos">
                        <i routerLink="/vistaPeluqueria/ {{ item.ID }}" class="fas fa-eye"></i>
                        <i routerLink="/EditarPeluqueria/{{ item.ID }}" class="fas fa-pen-to-square"></i>
                        <i (click)="deteleQuery(item.ID!)" class="fas fa-trash-alt"></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

