<section>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://github.com/Andres06B/imagenes/blob/main/Captura_de_pantalla_2024-05-12_161340-removebg-preview%20(1).png?raw=true" alt="Adry Veterinaria Logo" class="mr-2">
        <span class="text-coral">Adry</span>Veterinaria
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <button class="btn btn-outline-success" type="button" aria-label="Log out" routerLink="/login">
            <i class="fa-solid fa-right-from-bracket ms-1" aria-hidden="true"></i>
            Cerrar Sesion
          </button>
        </li>
      </ul>
    </div>
  </nav>
</section>

