<app-navbar></app-navbar>

  <header>
    <h1>Bienvenido al Registro de Citas </h1>
  </header>

  <section>
    <div class="card-container">
      <div class="card consultation" routerLink="/ListaConsulta">
        <i class="fas fa-user-md fa-2x"></i>
        <h2>Consulta</h2>
        <p>Registra consultas habituales para tu mascota. Proporciona detalles sobre la raza, el tipo de consulta y el sexo del animal</p>
      </div>
      <div class="card specialized-consultation" routerLink="/ListaConsultaEs">
        <i class="fas fa-stethoscope fa-2x"></i>
        <h2>Consulta Especializada</h2>
        <p>Para casos más complejos, utiliza esta opción. Aquí podrás registrar consultas con especialistas, como motivos o control de vacunas.</p>
      </div>
      <div class="card hairdressing" routerLink="/ListaPeluqueria">
        <i class="fas fa-scissors fa-2x"></i>
        <h2>Peluquería</h2>
        <p>Agenda citas para el cuidado estético de tu mascota. Desde baños hasta cortes de pelo, todo en un solo lugar</p>
      </div>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 AdryVeterinary Services. All rights reserved.</p>
  </footer>